// =============================================
//                   Mixins                  
// ============================================= 

// Images
@mixin default-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}