// =============================================
//                   Variables                  
// ============================================= 

// Main colors
$color-primary: #58e1c1;
$color-secondary: #777;

// Button background colors
$color-button-default: #51ddfc;
$color-button-error: #e4757a;
$color-button-info: #927bc1;
$color-button-success: #63cc82;
$color-button-warning: #fd7856;

// Font style
$font-stack-primary: 'Lato', sans-serif;

// Breakpoints
$break-l: 768px;
